* {
	margin:      0px;
	padding:     0px;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	font-weight:     700;
	color:           #000;
}
a:hover{
  text-decoration: underline;
}

html {
	width: 100%;
}

input, textarea {
	outline: medium none;
}

input:active, textarea:active, a:active {
	outline: medium none;
}

:focus {
	outline: medium none;
}

@font-face {
	font-family: "WebSymbolsLigaRegular";
	src:         url('../fonts/websymbolsligaregular.eot') format("embedded-opentype"), url('../fonts/websymbolsligaregular.woff') format("woff"), url('../fonts/websymbolsligaregular.ttf') format("truetype");
}

a img {
	border: 0px none;
}

body {
	overflow-x:  hidden;
	width:       100%;
	font-family: "PT Sans", sans-serif;
	background:  rgb(255, 255, 255) none repeat scroll 0% 0%;
}




#wraper {
	max-width:  1260px;
	margin:     0px auto;
	padding:    5px 18px 0px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

#logoAndNav {
	margin-top:  30px;
	text-align:  center;
	float:       left;
	width:       100%;
}

#logo {
	float:          left;
	margin-top:     -10px;
	text-align:     left;
	vertical-align: middle;
}

#logo img {
	width: 280px;
}

header nav, header nav ul, header nav ul li {
	display: inline-block;
}

header nav ul {
	margin-top:     10px;
	vertical-align: bottom;
}

header nav {
	margin-left: 0px;
}

header nav ul li {
	font-size:   14pt;
	font-weight: normal;
	margin-left: 12px;
}

header nav ul li::before {
	content:        "•";
	font-size:      14pt;
	font-weight:    bold;
	margin-right:   12px;
	vertical-align: middle;
}

header nav ul li:nth-child(1)::before {
	display: none;
	color:   white;
}

header nav ul li {
	text-decoration: none;
	color:           rgb(0, 0, 0);
	vertical-align:  middle;
	padding-bottom:  5px;
}

#login {
	display:         inline-block;
	margin-left:     40px;
	margin-top:      10px;
	vertical-align:  baseline;
	text-decoration: none;
	color:           rgb(102, 102, 102);
	font-size:       14pt;
	border-bottom:   1px dashed rgb(102, 102, 102);
}

#login:active {
	border: medium none;
}

#promoline {
	float:      left;
	width:      100%;
	margin-top: 30px;
	height:     59px;
	max-width:  1220px;
	text-align: center;
	overflow:   hidden;
}

#promoline a {
	max-width:    1220px;
	height:   10px;
	z-index:  99;
	color: #000;
}

#ov2 {
	margin-top: -10px;
}

#promoline span {
	display:         inline-block;
	height:          60px;
	overflow:        hidden;
	width:           240px;
	color:           black;
	text-decoration: none;
	text-align:      left;
	vertical-align:  top;
  	white-space: nowrap;
}

#promoline span strong {
	display:      inline-block;
	padding-top:  8px;
	padding-left: 5px;
	font-size:    14px;
	line-height:  18px;
	font-weight:  normal;
	width:        155px;
}

#promoline span strong {
	font-size:   15px;
	line-height: 18px;
}

#promoline span img {
	height:         59px;
	vertical-align: top;
}

#contentWraper {
	display:    inline-block;
	width:      79%;
}

#newsColumn, #commentColumn {
	margin-top: 40px;
	display:    inline-block;
	width:      300px;
}

#newsColumn h2, #blogs h2, #commentColumn h2 {
	text-align:     center;
	font-size:      12px;
	text-transform: uppercase;
	letter-spacing: 1pt;
	color:          rgb(77, 77, 77);
}

#newsColumn h2::before, #newsColumn h2::after, #commentColumn h2::before, #commentColumn h2::after {
	display:       inline-block;
	content:       " ";
	width:         55px;
	border-bottom: 1px solid rgb(77, 77, 77);
	margin-bottom: 3px;
}

.bottomLink::before, .bottomLink::after {
	width: 85px ! important;
}

#newsColumn h2::before, #commentColumn h2::before {
	margin-right: 18px;
}

#newsColumn h2::after, #commentColumn h2::after {
	margin-left: 18px;
}

#newsColumn p {
	margin-top: 13px;
	height:     68px;
	overflow:   hidden;
	font-size:  14px;
}

#newsColumn p strong {
	display:      inline-block;
	float:        left;
	overflow:     hidden;
	height:       65px;
	width:        65px;
	margin-right: 15px;
}

#newsColumn p img {
	margin-left: -15px;
	height:      65px;
	float:       left;
}

#newsColumn p span {
	color:     rgb(153, 153, 153);
	font-size: 14px;
}

#newsColumn p {
	text-decoration: none;
	color:           rgb(0, 0, 0);
}

#events h2::before, #events h2::after {
	border: medium none;
}

.content {
	margin-top:     40px;
	vertical-align: top;
	display:        inline-block;
	width:          68%;
	margin-right:   0px;
	text-align:     left;
}

.content p {
	margin-top:    10px;
	margin-bottom: 15px;
	display:       inline-block;
	width:         300px;
	height:        322px;
	overflow:      hidden;
	margin-left:   20px;
	font-size:     16px;
	text-align:    left;
	line-height:   19px;
}

.content p {
	text-decoration: none;
	color:           rgb(0, 0, 0);
}

.content p strong {
	display:   inline-block;
	clear:     both;
	font-size: 18px;
}
#cnt{
  padding-left: 10px;
}

.content p span {
	width:          100%;
	display:        inline-block;
	clear:          both;
	text-transform: uppercase;
	color:          rgb(128, 128, 128);
	white-space:    nowrap;
	font-size:      14px;
	letter-spacing: 1px;
}

.content p span.info {
	width:          50px;
	padding-right:  3px;
	display:        inline-block;
	font-size:      12pt;
	color:          rgb(191, 191, 191);
	letter-spacing: 0px;
}

.content p span.info b {
	font-family:    "WebSymbolsLigaRegular";
	text-rendering: optimizelegibility;
	font-size:      15px;
}

.content p img {
	margin-right:  7px;
	margin-bottom: 5px;
	height:        160px;
	width:         238px;
	float:         left;
}

#elsePromoLine a:nth-child(3) {
	margin-right: 0px;
}

#blogs p:nth-child(4) {
	margin-right: 0px;
}

#search {
	width:         225px;
	border:        2px solid rgb(128, 128, 128);
	border-radius: 20px;
	padding:       5px 5px 5px 10px;
}

#search input {
	border:     medium none;
	background: transparent none repeat scroll 0% 0%;
}

#search input[type="search"] {
	width:     180px;
	font-size: 13pt;
	color:     rgb(102, 102, 102);
}

#search input[type="submit"] {
	padding:        0px 5px;
	font-family:    "WebSymbolsLigaRegular";
	text-rendering: optimizelegibility;
	font-size:      15px;
	color:          rgb(128, 128, 128);
	cursor:         pointer;
	display:        inline-block;
	float:          right;
}

footer {
	height:     80px;
	background: rgb(100, 156, 191) none repeat scroll 0% 0%;
	text-align: center;
}

footer nav {
	max-width: 100%;
	height:     320px;
	background: rgb(213, 226, 233) none repeat scroll 0% 0%;
	text-align: center;
	padding: 0 30px;
}

footer nav ul {
	text-align:     left;
	display:        inline-block;
	width:          180px;
	vertical-align: top;
	margin-top:     20px;
}

footer nav ul li {
	font-size: 11pt;
	display:   block;
	padding:   2px 0px;
}

footer nav ul li a {
	text-decoration: none;
	color:           rgb(0, 0, 0);
}

footer nav ul li a img {
	vertical-align: top;
}

footer nav ul li a strong {
	font-weight: normal;
	font-size:   13pt;
}

footer div {
	text-align: left;
	color:      rgb(255, 255, 255);
	margin-top: 20px;
}

footer #disclamer {
	font-size: 10pt;
	float: left;
}

footer #disclamer img {
	float:          left;
	margin:         3px 15px;
	vertical-align: middle;
}

footer #mail {
	width:       230px;
	font-size:   10pt;
	margin-left: 90px;
}
.block_footer_sox {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

footer #ageRestriction {
	font-size:      25pt;
	vertical-align: top;
	font-family:    "PT Sans Narrow", Impact, sans-serif;
	float: right;
}

#splash {
	position:   fixed;
	top:        0px;
	left:       0px;
	right:      0px;
	bottom:     0px;
	background: rgba(66, 66, 66, 0.5) none repeat scroll 0% 0%;
	text-align: center;
	z-index:    1000;
}

#splash div {
	display:        inline-block;
	padding:        25px;
	background:     white none repeat scroll 0% 0%;
	vertical-align: middle;
	margin-top:     100px;
}

.hide {
	visibility: hidden;
}

.closeButton {
	display:         block;
	position:        absolute;
	margin-left:     510px;
	margin-top:      -20px;
	font-size:       20pt;
	font-family:     "WebSymbolsLigaRegular";
	text-rendering:  optimizelegibility;
	color:           rgb(102, 102, 102);
	text-decoration: none;
}

span.active {
	border-bottom: 4px solid rgb(167, 190, 57);
}

li.active a {
	color: rgb(167, 190, 57) ! important;
}

#enter {
	display:        inline-block;
	text-align:     left;
	vertical-align: top;
	width:          550px;
	margin-bottom:  10px;
}

#enter input {
	padding:   5px;
	font-size: 11pt;
	border:    1px solid rgb(238, 238, 238);
}

#enter h3 {
	font-size:     12pt;
	margin-bottom: 20px;
}

.logInButton {
	background: rgb(100, 156, 191) none repeat scroll 0% 0%;
	border:     1px solid rgb(100, 156, 191) ! important;
	color:      white;
}

#recovery {
	display:     inline-block;
	font-size:   10pt;
	margin-left: 188px;
}

#enter a {
	color: rgb(100, 156, 191);
}

#smartbanner .sb-icon.gloss::after {
	content:       "";
	position:      absolute;
	left:          0px;
	top:           -1px;
	border-top:    1px solid rgba(255, 255, 255, 0.8);
	width:         100%;
	height:        50%;
	border-radius: 10px 10px 12px 12px;
}

#newsColumn {
	width: 250px;
}
#newsColumn li a{
  color: #000;
  text-transform: capitalize;
}

#newsColumn span.filterSw {
	display:         inline-block;
	margin:          10px 10px 30px;
	color:           black;
	text-decoration: none;
	border-bottom:   1px dashed black;
}

.content p {
	width: 200px;
}

#newsColumn nav {
	width:         220px;
	border-top:    1px solid rgb(191, 191, 191);
	margin-bottom: 40px;
}

#newsColumn nav ul li {
	display:       block;
	font-size:     13pt;
	border-bottom: 1px solid rgb(191, 191, 191);
}

#newsColumn nav ul li {
	display:         block;
	padding:         8px;
	text-decoration: none;
	color:           rgb(0, 0, 0);
}

#newsColumn nav ul li a::first-letter {
	text-transform: uppercase;
}

#newsColumn h2 {
	text-transform: uppercase;
	font-size:      11pt;
	font-weight:    normal;
	letter-spacing: normal;
	color:          rgb(77, 77, 77);
}

#newsColumn h2::before, #newsColumn h2::after {
	display: none;
}

#popular {
	margin:     0px 0px 40px;
	width:      100%;
	border:     1px solid rgb(221, 221, 221);
	text-align: center;
}

#popular p {
	height:      auto;
	margin-left: 0px;
	margin-top:  0px;
	line-height: 0px ! important;
}

#popular p {
	line-height: 10px;
}

#popular p strong {
	height:      auto;
	width:       100%;
	font-weight: 700;
	font-size:   16px;
}

#popular p img {
	width:          200px;
	height:         auto;
	vertical-align: top;
	margin-left:    0px ! important;
}
.comment{
  margin: 15px 0px;
}

#popular p span.category {
	font-size: 10pt;
}
.fa-bars {
	font-size: 25px!important;
	text-align: center!important;
	display: none!important;
	margin: 10px auto!important;
}

.burger {
	text-decoration: none;
	color: black;
}

#popular p span.info {
	color: rgb(191, 191, 191);
}

#popular h2 {
	text-transform: uppercase;
	font-size:      11pt;
	margin:         20px 0px;
	text-align:     center;
}

#popular h2::before, #popular h2::after {
	display: none;
}

#text {
	margin-top:     40px;
	vertical-align: top;
	display:        inline-block;
	width:          56%;
	margin-right:   0px;
	text-align:     center;
}

#align {
	max-width:      600px;
	text-align: left;
	display:    inline-block;
}

#news div > span, #before span {
	color: rgb(102, 102, 102);
}

#news span.info, #before span.info {
	float:     right;
	border:    medium none;
	font-size: 11pt;
	padding:   0px;
}

#news span.info b, #before span.info b {
	font-family:    "WebSymbolsLigaRegular";
	text-rendering: optimizelegibility;
	font-size:      15px;
}

#news span.date {
	display:   inline-block;
	font-size: 11pt;
	color:     rgb(128, 128, 128);
}

#news.article #image img {
	margin: 20px 0px;
	max-width:  600px;
	height: auto;
}

#news h1 {
	font-weight: normal;
	font-size:   26pt;
	max-width:       600px;
	margin:      20px 0px;
}

#news h1.ArticleHeader {
	font-weight:   normal;
	font-size:     40px;
	font-family:   "PT Serif", serif;
	text-align:    center;
	line-height:   40px;
	margin-bottom: 30px;
	margin-top:    10px;
}

#news.article #image {
	max-width: 600px;
}

#sectionArticle, #theme {
	display:       inline-block;
	max-width:         600px;
	text-align:    center;
	font-size:     20px;
	line-height:   20px;
	margin-bottom: 10px;
}

#sectionArticle {
	margin-bottom: 0px;
	color:         rgb(109, 148, 86);
}

#theme {
	margin-top: 0px;
	color:      rgb(102, 102, 102);
}

#news span::first-letter {
	text-transform: uppercase;
}

#news #autor {
	display:        inline-block;
	text-transform: none;
	font-size:      16px;
	line-height:    20px;
	font-style:     italic;
	margin-top:     20px;
}

#news p {
	font-size:   16px;
	line-height: 20px;
	margin:      20px 0px;
}

#news p img {
	height:    auto;
	max-width: 600px;
	width: 100%;
}

#cnt p:nth-child(1) {
	color:       rgb(102, 102, 102);
	font-size:   20px;
	line-height: 20px ! important;
}

.noup::first-letter {
	text-transform: none ! important;
}

#text h3 a::first-letter {
	text-transform: uppercase;
}

#before p:nth-child(1) {
	margin-left: 0px;
}

#before p a::first-letter {
	text-transform: uppercase;
}

#cnt em {
	line-height: 20px ! important;
}

#cnt strong {
	line-height: 20px ! important;
}

#news p a, #news blockquote a, #news li a {
	color:       rgb(102, 153, 204);
	line-height: 20px ! important;
}

#news p a:visited, #news blockquote a:visited, #news li a:visited {
	color: rgb(102, 153, 204);
}

#news p a:active, #news blockquote a:active, #news li a:active {
	color: rgb(102, 153, 204);
}

#news ul, #news ol {
	padding-left: 40px;
	margin:       10px 0px;
}

blockquote.CitationItalic {
	margin:      40px;
	font-family: "PT Serif";
	font-style:  italic;
	text-align:  center;
	font-size:   25px ! important;
	line-height: 30px ! important;
}

.c2-2 {
	color: rgb(93, 181, 133);
}

a.active {
	border-bottom-color: rgb(109, 148, 86);
}

li.active a {
	color: rgb(109, 148, 86) ! important;
}

.content h2 {
	color: rgb(109, 148, 86);
}

#newsColumn span.active {
	color:               rgb(109, 148, 86);
	border-bottom-color: rgb(109, 148, 86);
}

.social-likes__widget::before {
	display: none;
}

.social-likes__button::before {
	content: "";
	display: inline-block;
}

.social-likes__counter::before, .social-likes__counter::after {
	content:  "";
	position: absolute;
	width:    0px;
	height:   0px;
}

.social-likes__counter::before {
	top:                       4px;
	left:                      -6px;
	border-width:              6px 6px 6px 0px;
	border-style:              inset solid inset none;
	border-top:                6px inset transparent;
	border-bottom:             6px inset transparent;
	-moz-border-top-colors:    none;
	-moz-border-right-colors:  none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors:   none;
	border-image:              none;
	border-left:               0px none;
	border-right-color:        inherit;
	opacity:                   0.7;
}

.social-likes__counter::after {
	top:                       5px;
	left:                      -4px;
	border-width:              5px 5px 5px 0px;
	border-style:              inset solid inset none;
	border-color:              transparent;
	-moz-border-top-colors:    none;
	-moz-border-right-colors:  none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors:   none;
	border-image:              none;
}

.social-likes__close::before {
	display: none;
}

.social-likes__counter_single::after {
	border-right-color: rgb(246, 246, 246);
}

.social-likes__icon_facebook::after {
	vertical-align: middle;
	content:        "Поделиться";
	margin-left:    25px;
	padding-top:    5px;
	color:          darkblue;
}

.social-likes__counter_facebook::after {
	border-right-color: rgb(242, 243, 247);
}

.social-likes__icon_twitter::after {
	content:        "Твитнуть";
	margin-left:    25px;
	color:          rgb(85, 172, 238);
	vertical-align: middle;
}

.social-likes__counter_twitter::after {
	border-right-color: rgb(242, 248, 252);
}

.social-likes__counter_plusone::after {
	border-right-color: rgb(249, 249, 249);
}

.social-likes__counter_mailru::after {
	border-right-color: rgb(255, 241, 194);
}

.social-likes__icon_vkontakte::after {
	content:        "Нравится";
	color:          white;
	margin-left:    25px;
	vertical-align: middle;
}

.social-likes__counter_vkontakte::after {
	border-right-color: rgb(234, 238, 243);
}

.social-likes__counter_odnoklassniki::after {
	border-right-color: rgb(255, 233, 190);
}

.social-likes__counter_pinterest::after {
	border-right-color: rgb(255, 245, 246);
}

input {
	padding: 5px 15px;
}

.clrka {
	clear: both;
}
.burg {
	display: none;
}
.burg img {
	max-width: 30px;
}
.btn {
	display:       block;
	background:    red;
	color:         #fff;
	width:         300px;
	padding:       20px 30px;
	border-radius: 40px;
	margin:        0 auto;
	text-align:    center;
	transition:    0.5s;
	cursor: pointer;
  	font-size: 19px;
}

.btn:hover {
	text-decoration:   none;
	-webkit-transform: scale(1.1);
	-moz-transform:    scale(1.1);
	-o-transform:      scale(1.1);
}

.product-picture {
	max-width:      250px;
	display:    block;
	margin:     0 auto;
	margin-top: 20px;
    margin-bottom: 20px;
}
.to-right{
    position: relative;
    float: right;
}
@media only screen and (max-width: 1253px) {
#promoline .hid_el {
	display: none;
}
}
@media only screen and (max-width: 1009px) {
#promoline .hid_el2 {
	display: none;
}
	footer nav ul:nth-child(5) {
		display: none!important;
	}
}
@media only screen and (max-width: 978px) {
footer nav .hid_foot_ul {
	display: none;
}
}

@media screen and (max-width: 820px){
	footer nav ul:nth-child(4) {
		display: none!important;
	}
}



@media only screen and (max-width: 770px) {
	#newsColumn {
		display: none;
	}
	#text {
		width: 100%;
	}
	#align {
		max-width: 100%;
	}
 #contentWraper {
 	width: 100%;
 }
 #news.article #image img {
 	display: block;
 	margin: 0 auto;
 	max-width: 90%;
 }
#news.article #image {
	max-width: 100%;
}
#news span.info, #before span.info {
	float: none;
}
#news h1.ArticleHeader {
	margin: 0;
}
#news h1 {
	max-width: 100%;
}
#promoline {
	display: none;
}
}
@media only screen and (max-width: 800px) {
footer nav .hid_foot_ul2 {
	display: none;
}
}
@media screen and (max-width: 767px){
  .mob-hidden{
    display: none !important;
  }
}
@media only screen and (max-width: 612px) {
footer nav {
	display: none;
}
iframe {height:900px!important;}
footer {
	height: auto;
}
#login {
	display: none;
}
#news h1.ArticleHeader {
	font-size: 28px;
	line-height: 1.2;
}
}
@media only screen and (max-width: 500px) {
header nav ul .hidden_li {
	display: none;
}

	#logoAndNav nav {
		display: none!important;
	}
	.fa-bars {
		display: block!important;
	}
header nav ul .burg {
	display: block;
}
.product-picture {
	max-width: 150px;
	margin-bottom: 10px;
}
}
@media only screen and (max-width: 396px) {
.btn {
	width: auto;
}
#news h1.ArticleHeader {
	font-size: 22px;
	line-height: 1.2;
}
}
@media only screen and (max-width: 356px) {
#text {
	margin-top: 0;
}
}
.mainMenu li a span,
.menuSec a li{
	color: black!important;
	font-weight: normal!important;
}
.mainMenu li a span:hover,
#promoline span:hover ,
.menuSec a li:hover,
#newsColumn a span:hover{
	color: red!important;
}
h1 a {
	color: black;
	font-weight: normal;
}
h1 a:hover {
	text-decoration: underline;
}
.link h2:hover {
	text-decoration: underline!important;
}
.link p,
.linkSide,
h2 a{
	color: black;
	font-weight: normal;
}
.link p:hover,
.linkSide:hover{
	color: red!important;
}
 h2 a:hover {
	 text-decoration: underline;
 }